* {
    max-width: 600px;
    min-height: 100px;
    margin: 0.2rem auto;
    justify-content: center;
    font-family: helvetica;
}

body {
    border-left: 2px solid #5FF;
    border-right: 2px solid #5FF;
    background-color: #242424;
    text-align: center;
}

main {
    margin: 1rem;
    border-top: 2px solid #5FF;
    border-bottom: 2px solid #5FF;
}

h1, h3, p {
    color: white;
    margin-bottom: 1rem;
}

a {
    color: cyan;
}

#logo {
    border-radius: 30px;
}
